.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #10101095;
    z-index: 1000;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
}

.header__nav ul {
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .header__nav ul li {
        position: relative;
        padding: 0 13px;
    }

        .header__nav ul li::after {
            position: absolute;
            top: 50%;
            right: 0;
            width: 2px;
            height: 10px;
            content: "";
            transform: translateY(-50%);
            border-radius: 2px;
            background-color: #8E8E8E;
        }

        .header__nav ul li:last-child::after {
            display: none;
        }

.header__nav li a {
    white-space: nowrap;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

    .header__nav li a:hover {
        padding: 2px 0;
        border-top: 2px solid #EF6C00;
        border-bottom: 2px solid #EF6C00;
    }

.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 45px;
}

    .logo img {
        width: 100%;
        height: 100%;
    }

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 101px;
    white-space: wrap;
    color: white;
    font-family: Shafarik, serif;
    font-size: 20px;
    line-height: 20px;
}


.shop-tools {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search-bar {
    width: 200px;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
}

.shop-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.profile-btn, .cart-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 0 5px;
}

.cart-btn:hover {
    border-color: #ef6c00;
}

.badge {
    position:absolute;
    left: 30px;
    top: 1px;
    background: #EF6C00;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    border-radius: 50%;
    min-width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
   
}
        